.main {
    background: url("../image/background.png") no-repeat center/ cover;
    font-family: Verdana, sans-serif;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearfix:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

.nav-top {
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    position: relative;
    color:  #ffffff;
}

.journey {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    margin: 19px 81px;
}
.journey:hover {
    color:  #3cb878;
    transition-duration: 1s;
}

.nav-log-in {
    text-align: right;
    float: right;
}

.nav-log-in-green {
    color:  #3cb878;
    text-decoration: none;
}
.nav-log-in-green:hover {
    border-bottom: 1px solid;
    border-color: #3cb878;
    transition: top 1s ease-out 0.5s;
}

.icons {
    float: right;
    margin: 19px 75px 19px 0;
}

.icon {
    background: url("../image/css_sprites.png");
    position: relative;
    margin-right: 28px;
    float: right;
}

.bg-ic_caledar {
    width: 19px; height: 19px;
    background: url('../image/css_sprites.png') -15px -0;
}
.bg-ic_caledar:hover {
    background: url('../image/css_sprites.png') -34px -0;
    transition: top 1s ease-out 0.5s;
}

.bg-ic_forum {
    width: 28px; height: 20px;
    background: url('../image/css_sprites.png')-121px -0;
}

.bg-ic_forum:hover {
    background: url('../image/css_sprites.png')-93px -0;
    transition: top 1s ease-out 0.5s;
}

.bg-ic_journey {
    width: 20px; height: 20px;
    background: url('../image/css_sprites.png') -73px -0;
}

.bg-ic_journey:hover {
    background: url('../image/css_sprites.png') -53px -0;
    transition: top 1s ease-out 0.5s;
}

.bg-line {
    width: 1px; height: 19px;
    background: url('../image/css_sprites.png') -0 -0;
}

.form {
    border: 0 solid;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    width: 444px;
    background: white;
    border-radius: 6px;
    position: relative;
    margin: 65px auto;
}

.form-content {
    padding: 29px 60px;
}

.green-square {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    margin-top: 29px;
}

.form-title {
    color:  #434343;
    font-size: 20px;
    display: inline-block;
}

.form-log-in {
    color:  #3cb878;
    text-align: right;
    padding: 4px 0 1px;
    display: inline-block;
    margin-left: 185px;
    text-decoration: none ;
}
.form-log-in:hover {
    border-bottom: 1px solid;
    border-color: #3cb878;
    transition: top 1s ease-out 0.5s;
}

.form-log-in-btn {
    margin-top: 25px;
}

.form-btn {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 16px 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.form-btn-facebook {
    background-color:  #305db8;
    font-size: 16px;
}

.form-btn-facebook:hover {
    background-color:  #264b96;
    transition-duration: 1s;
}

.form-btn-facebook i{
    width: 25px;
    padding: 7px 0;
    border-right: 1px solid rgb(87, 87, 87);
}

.form-btn-google i{
    width: 25px;
    padding: 10px 5px 10px 0;
    border-right: 1px solid rgb(87, 87, 87);
}

.form-btn-google {
    background-color:  #df4a32;
    font-size: 16px;
    margin-left: 9px;
}
.form-btn-google:hover{
    background-color:  #c3412c;
    transition-duration: 1s;
}

.form-btn-google span{
    padding: 0 7px;
}

.form-btn span {
    padding-left: 18px;
}

.form-input {
    border-radius: 3px;
    width: 100%;
    height: 46px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    padding-left: 20px;
    color:  #bebebe;
    outline: none;

}
.form-line-text{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color:  #848484;
}
.form-line {
    background-color: #848484 ;
    border: none;
    width: 135px;
    height: 1px;
}

.form-input:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    /*margin-bottom: 10px;*/
    color:  #434343;
    outline: none;
    transition-duration: .6s;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
}

input[type="checkbox"] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
input[type="checkbox"]:checked + label:before {
    content: "\2714";
    color: #3cb878;
    text-align: center;
}

.form-btn-footer {
    color:  #ffffff;
    font-size: 16px;
    text-align: center;
    background: rgb(57, 186, 120);
    padding: 17px 106px;
    border-radius: 6px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.form-btn-footer:hover {
    background-color: rgb(47, 155, 101);
    transition-duration: 1s;
}
